# Database
DATABASE_URL="postgresql://rubberduck:rubberduck_master@localhost:5433/rubberduck"
DB_PORT=5433
PG_USER=rubberduck
PG_PASS=rubberduck_master
PG_DB=rubberduck

# PG admin
PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=admin
PGADMIN_PORT=5050

# Redis
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASS=rubberduck

#Fastify
COOKIE_SECRET=rubberduck_cookies
JWT_SECRET=rubberduck_jwt